@charset "UTF-8";
/*import*/
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lemonada);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
/*color*/
:root {
  --WHITE: #FFFFFF;
}

/*body*/
body {
  background: #167C80;
  text-align: center;
}

div {
  width: 100%;
  height: 33%;
  /*设置div的大小*/
  text-align: center;
  /*文字水平居中对齐*/
  line-height: 200px;
  /*设置文字行距等于div的高度*/
  overflow: hidden;
}

/*random part*/
.rd {
  font-family: "Bebas Neue",sans-serif;
  color: #F9E7E8;
  font-size: 40px;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.rd a {
  text-decoration: none;
  color: var(--WHITE);
}

/*Input box part*/
input {
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 14px 14px;
  width: 600px;
  font-size: 24px;
  font-family: "Shadows Into Light",sans-serif;
}

input:focus {
  border-color: #e7e966;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(231, 233, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e7e966;
}

/*switch 按钮*/
/* 背景层 */
.switch-component {
  position: relative;
  width: 60px;
  height: 30px;
  top: 10px;
  background-color: #dadada;
  border-radius: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  transition: all .2s ease;
}

/* 按钮 */
.switch-component::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: all .2s ease;
}

/* 选中状态时，背景色切换 */
.switch-component:checked {
  background-color: #00FF00;
}

/* 选中状态时，按钮的位置移动 */
.switch-component:checked::after {
  left: 50%;
}

/*loading part*/
.loading {
  position: relative;
  width: 50%;
  margin: 0 auto;
  width: 8em;
  height: 8em;
  background: #167C80;
  border-radius: 50%;
  box-shadow: inset 0.5em -0.5em #E9837F;
  animation: spin 2s linear infinite;
}

.loading::before, .loading::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

.loading::before {
  filter: blur(5px);
}

.loading::after {
  filter: blur(10px);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/*search-text part*/
.search-text {
  font-family: "Dancing Script",sans-serif;
  font-size: 20px;
}

/*result part*/
.result {
  background-color: #D3E8E1;
  color: #E44A66;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: left;
  font-family: "Lobster",sans-serif;
  font-size: 4rem;
}

.result a {
  display: block;
  text-align: left;
  text-decoration-line: line-through;
  color: #E44A66;
  font-family: "Lemonada",sans-serif;
  font-size: 1rem;
}

.result a:hover {
  color: black;
}

.splitspace {
  background-color: #167C80;
  widows: 1052.24px;
  height: 200px;
}
