body {background-color:RGB(246, 246, 246);}
.random{
   position:absolute;
   width:150px;
   bottom: 10%;
   left:50%;
   margin-left:-75px;
   }
 .search{
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-190px;
   text-align:center;
   }
.mw-wiki-logo{
    position:absolute;
    size:200px;
    top:5%;
    left:50%;
    margin-left:-100px;
}
input{
   font-size:1em;
   height:2.7em;
   border-radius:4px;
   border:1px solid #c8cccf;
   color:#6a6f77;
   outline:0;
   }
.button{
    font-size:1em;
    height:2.7em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    outline:0;
}